@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    border: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: cornflowerblue;
}

button {
    padding: 2vh 5vh;
    border-radius: 1vh;
}

select {
    padding: 1.5vh;
    border-radius: 1vh;
    border: 0.2vh solid black;
}

#title {
    color: white;
}

main {
    display: flex;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

#gerenos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#label {
    font-size: 3vh;
    color: white;
}
